<% provide(:title, 'About me') %>
<div class="page-header">
  <h1>About me</h1>
</div>
<p>
  I am MadeInSyria, a.k.a. Omar Alaouf, a French/Syrian/American Ops engineer at Slideshare/LinkedIn based in the San Francisco Bay Area. I am passionate about high availability and high performance of infrastructures (specially web platforms). I build, automate and maintain the technical solutions that enable Slideshare to grow within a devops team. I love everything related to Open Source, scaling infrastructures, development, security, outdoors and freedom.
</p>
<p>
  On this blog you will find my thoughts and some technical tips. Just an online space to express myself.
</p>