<% provide(:title, 'Contact me') %>
<div class="page-header">
  <h1>Contact me</h1>
</div>
<h2> For a geek new world !</h2>
<p>
  This is the contact for the
  <a href="http://madeinsyria.fr/">MadeInSyria.fr</a>
</p>