<% provide(:title, 'Users list') %>
<div class="page-header">
  <h1>Users list</h1>
</div>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>

<ul class="users">
      
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Pic</th>
      <th>Name</th>
      <th>About</th>
      <% if current_user.admin? %>
      <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>