<% provide(:title, 'Category') %>
<% provide(:meta, "Category #{@category.name} at MadeInSyria.fr") %>
<div class="page-header">
  <h1><%= @category.name %></h1>
</div>
<h2>Posts in these category (<%= @category.posts.load.count %>)</h2>
<ul>
  <% @category.posts.load.each do |post| %>
    <li><%= link_to post.title, post%></li>
  <% end %>
</ul>