<footer class="footer">
  <small>
    By MadeInSyria a.k.a. Omar Alaouf
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact",   contact_path %></li>
      <li><%= link_to "Login",   signin_path %></li>
      <li><%= link_to "Sign up",   signup_path %></li>
    </ul>
  </nav>
</footer>